/* color 1 aka blue color */
.jsl-color1 {
    color: #0040FF;
}

.jsl-color1-bg {
    background-color: #0040FF;
    color: white;
}

/* color 2 aka pink color */
.jsl-color2 {
    color: #DF01D7;
}

.jsl-color2-bg {
    background-color: #DF01D7;
    color: white;
}

