{# Expecting 'issue' variable #}
{% extends 'base.html' %}
{% load issue_filters %}
{% block content %}

    <h1>
        {{ issue.title }}
    </h1>
    <div class="float-right">
        {% include "tags/follow_button.html" with tagable=issue %}
    </div><br/>
    {# Close issue #}
    {% for action in issue|actions %}
        {% include "./action_component.html" with action=action %}
        <br/>
    {% endfor %}


    {% if not issue|is_closed %}
        <div class="mt-5"></div>
        {# Add tag #}

        {% include './add_tag_form.html' %}
        <br/>

        {# Add new message #}
        <div class="card">
            <div class="card-header">
                Répondre:
            </div>
            <div class="card-body">
                {% include './new_message_form.html' with issue_pk=issue.id %}
            </div>
        </div>
    {% endif %}







{% endblock %}