{# expecting a `notification` variable #}
{% with notification.true_action as action %}
    <div class="card {{ notification.has_been_seen|yesno:',border border-danger' }}">
        <div class="card-body">
            <p class="card-title">
                {{ action.notif_message }}
                <a class="card-link icon-cursor float-right" href="{{ action.goto }}"></a>
            </p>
            <p class="card-text">
                <small class="text-muted">{{ action.owner_name }}</small>
                <small class="text-muted float-right">{{ action.date }}</small>
            </p>
            {% if notification.has_been_seen %}
                <small class="text-muted"><span class="icon-check"></span> Vu le {{ notification.seen_on }}</small>
            {% endif %}
        </div>
    </div>
{% endwith %}